* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
}

.bg-custom-blue {
  background-color: #005288;
}
